*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

html, body{
	background-color:rgb(237, 116, 228);
	padding:0;
	margin:0;
	font-family: 'Staatliches', cursive;
	color:black;
}
a{
	text-decoration:none;
	color:white;
}

header{
	width:100%;
}

.logo{
	width:100%;
	background-color:rgb(234, 153, 228);
}

.logo img{
	display:block;
	margin:auto;
}

.empresa{
	display:relative;
	width:100%;
}

.empresa p{
	font-size:80px;
	color:white;
	text-align:center;
	font-family: 'Dancing Script', cursive;
}

/*------menu------*/
.menu{
	width:100%;
	background-color:rgb(234, 153, 228);
}
#button_menu{
	display:none;
}
header label img{
	background-color:rgb(234, 153, 228);
	display:none;
	height:40px;
	width:40px;
	padding:10px 10px;
	border-right:solid 1px white;
}

header label img:hover{
	background-color:white;
}

.menu ul{
	margin:0;
	padding:0;
	list-style:none;
	display:flex;
	justify-content:flex-end;
}

.menu li{
	display:block;
	padding:15px 20px;

}

.menu li:hover{
	background-color:rgb(0,0,0,0.2);
}


/*------imagen del header-------*/

.imagen_header{
	margin-top:30px;
	margin-bottom:30px;
	width:100%;
	
}
 .imagen_header img{
 	width:100%;
 }


/*------grid del contenedor-------*/
.main_grid{
	width:100%;
	height:100%;
	margin-bottom:100px;
}
.contenedor_productos{
	width:90%;
	height:100%;
	margin:auto;
	display:grid;
	grid-template-columns:repeat(4,1fr);
	grid-gap:20px;
	margin-top:50px;
	margin-bottom:50px;
}

.contenedor_productos img{
	width:100%;
	height:100%;
	border-radius:15px;
	object-fit:cover;
}
.item_contenedor p{
	width:100%;
	color:white;
	font-size:20px;
	background-color:rgb(234, 153, 228);
	text-align:center;
	margin-bottom:20px;
}

/*------parallax------*/
.parallax{
	margin-top:150px;
}
.parallax_sociales{
	background:fixed no-repeat 50% 50%;
	background-size:cover;
}
#parallax_redes_sociales{
	background-image:url(img/cupcake_colores.jpg);
	width:100%;
	height:300px;
}

.parallax_sociales{
	display:flex;
	justify-content:center;
}
 .paralallax_sociales img{
 	display:block;
 	margin-top:20px;
 	padding:20px;
 }


/*-----media query-----*/

@media only screen and (max-width:768px){

	header label img{
		display:block;
	}
	.menu ul{
		width:100%;
		position:absolute;
		background-color:rgb(234, 153, 228,.6);
		flex-direction:column;
		margin-left:-100%;
		transition:all 1s;
	}
	#button_menu:checked ~ .menu ul{
		margin:0px;
	}

	.empresa{
		display:relative;
		width:90%;
		margin:auto;
	}

	.empresa p{
		font-size:50px;
		color:white;
		text-align:center;
	}

	.contenedor_productos{
		width:90%;
		margin:auto;
		display:grid;
		grid-template-columns:repeat(2,1fr);
		grid-template-rows:repeat(2,2fr);
		grid-gap:40px;
	}

	.contenedor_productos img{
		width:100%;
		height:100%;
	}
}

@media only screen and (max-width:480px){
	.contenedor_productos{
		width:90%;
		margin:auto;
		display:grid;
		grid-template-columns:repeat(2,1fr);
		grid-template-rows:repeat(2,1fr);
		grid-gap:35px;
	}

	.contenedor_productos img{
		width:100%;
		height:100%;
	}

	.empresa{
		display:relative;
		width:90%;
		margin:auto;
	}

	.empresa p{
		font-size:40px;
		color:white;
		text-align:center;
	}
	.logo{
		width:100%;
		background-color:rgb(234, 153, 228);
	}

	.logo img{
		height:150px;
		width: 150px;
		display:block;
		margin:auto;
	}
}